/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

* { margin:0; padding:0;}
html, body { height:100%;  min-width:1020px;}	
body { 
	background:#fff; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.375em;
	color:#6b6b6b;
	}
input, select, textarea { font-family:Arial, Helvetica, sans-serif;	font-size:1em;	vertical-align:middle;	font-weight:normal;}
object { vertical-align:top; outline:none}
.alignMiddle{ vertical-align:middle}
.alignCenter{ text-align: center}
.container1{ width:100%}
.clear { clear:both;}
.fleft{ text-align:center;}
.fright{ float:right}
.container {	overflow:hidden; width: 100%;}
a img{ border:0px}
img{ vertical-align:top;  }
fieldset{ border:none}


.col-1, .col-2, .col-3, .col-4{ float:left}
/*======= width =======*/
.main {	margin: 0 auto;	position: relative;	width:1020px; }

a{ color:#000000; text-decoration:none; outline:none}
a:hover{ text-decoration:underline}
		

.link{color:#000000; background:url(../images/marker.gif) top left no-repeat; padding-left:20px; background-position:0 5px; text-decoration:none; font-size:.916em  }
.link:hover{text-decoration:underline }

.button{color:#fff; background:url(../images/button.gif) top left no-repeat; width:114px; text-align:center; line-height:32px; display:block; text-decoration:none;  }
.button:hover{text-decoration:underline }

.button1{ background:#181818; color:#fff; font-size:24px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif ; display:block; line-height:44px; text-align:center; text-decoration:none; font-weight:bold; margin-top:1px}
.button1:hover{ background:#fefefe; color:#000;}

section ul.list{margin:0; padding:0; list-style:none;}
section ul.list li{background:url(../images/marker.gif) top left no-repeat; background-position:0 7px; margin:0; padding-left:14px; overflow:hidden; }
section ul.list li a{color:#010101; text-decoration:none; line-height:22px; font-size:15px; text-transform:uppercase} 
section ul.list li a:hover { text-decoration: underline; }

section ul.list1{margin:0; padding:0; list-style:none;}
section ul.list1 li{ float:left; padding-bottom:1px;}
section ul.list1 li a{color:#010101; text-decoration:none; line-height:50px; font-size:18px; font-weight:bold; text-transform:uppercase; background:#e7e7e7; margin:0; padding-left:38px; width:150px; display:block } 
section ul.list1 li a:hover { text-decoration:none; background:#2c2c2c; color:#fff; }

section ul.list2{margin:0; padding:0; list-style:none;}
section ul.list2 li{ float:left; background:url(../images/icon1.png) top left no-repeat; padding-left:39px; background-position:0 5px; padding-bottom:9px}
section ul.list2 .li1{  background:url(../images/icon2.png) top left no-repeat; background-position:0 5px}
section ul.list2 .li2{  background:url(../images/icon3.png) top left no-repeat; background-position:0 5px}
section ul.list2 .li3{  background:url(../images/icon4.png) top left no-repeat; background-position:0 5px}
section ul.list2 li a{color:#000000; text-decoration:none; font-size:13px; font-weight:bold; text-transform:uppercase; display:block} 
section ul.list2 li a:hover { text-decoration:none; color:#578dc9; }

section ul.list3{margin:0; padding:0; list-style:none; width:340px}
section ul.list3 li{ float:left; padding-bottom:1px; width:340px}
section ul.list3 li span{ float:right; font-size:22px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#171717}
section ul.list3 li a{color:#010101; text-decoration:none; line-height:34px; font-size:14px; background:#999999; margin:0; padding-left:11px;  display:block; float:left; width:263px } 
section ul.list3 .li a{color:#010101; text-decoration:none; line-height:34px; font-size:14px; background:#ababab; margin:0; padding-left:11px;  display:block; float:left; width:243px } 
section ul.list3 .li1 a{color:#010101; text-decoration:none; line-height:34px; font-size:14px; background:#c6c6c6; margin:0; padding-left:11px;  display:block; float:left; width:213px } 
section ul.list3 .li2 a{color:#010101; text-decoration:none; line-height:34px; font-size:14px; background:#e7e7e7; margin:0; padding-left:11px;  display:block; float:left; width:163px } 
section ul.list3 .li3 a{color:#010101; text-decoration:none; line-height:34px; font-size:14px; background:#fafafa; margin:0; padding-left:11px;  display:block; float:left; width:123px } 
section ul.list3 li a:hover { text-decoration:none; background:#000; color:#fff  }

.link-1 { display:inline-block; float:left; line-height:45px; background:#171717; padding:0 27px 0 27px; color:#fff; text-decoration:none; border-radius:9px;	-moz-border-radius:9px; -webkit-border-radius:9px; cursor:pointer; position:relative; behavior:url(js/PIE.htc);  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px}
.link-1:hover {background:#ececec; text-decoration:none; color:#171717}

.data{ float:left; width:74px; height:65px; text-align:center; padding-right:22px; background:url(../images/bg_date.png) top left no-repeat; font-size:40px; color:#171717; padding-top:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:1em}
.data span{ color:#fff; font-size:10px; display:block; margin-top:6px; line-height:2em}


#carousel {	height:412px; padding-top:40px;	overflow:hidden; background:url(../images/bg_2.gif) top center no-repeat}
/* gallery */
	.roundabout-holder { height: 377px; width:915px; margin:0 auto;}
	.roundabout-moveable-item { height: 377px; width: 469px; cursor: pointer; }
	.roundabout-moveable-item img { width:100%; height:100%; display:block;	}
	.roundabout-in-focus { cursor: auto; }

/*header*/
header {font-size:0.75em; color:#FFFFFF; height:222px; background: url(../images/top.gif) top center no-repeat; position:relative; z-index:900}
header .indent{ top:74px; right:0; position:absolute; width:258px; padding:0}
header .inside{position: absolute; z-index:90; top:139px; width:1020px}
.top1{ background:url(../images/top1.gif) top left repeat-x}


header h1{
	color: #171717;
	font-size: 60px;
	margin-bottom: 13px;
	line-height: 60px;
	letter-spacing: -1px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: absolute;
	top: 51px;
	left: 0;
	width: 485px;
	height: 179px;
}
header h1 a{color:#171717; text-decoration:none  }
header h1 a:hover{text-decoration:none  }


/*--- superfish dropdown menu begin ---*/
.sf-menu {margin:0; padding:0;	list-style: none; z-index:90000; position:relative } 
.sf-menu li{ margin:0; display:inline; position:relative; float:left}
.sf-menu li a{color:#1a1a1a; text-decoration:none; display:block; float:left; line-height:72px; font-size:15px; text-transform:uppercase; width:145px; text-align:center; background:#e7e7e7} 
.sf-menu li a:hover {color:#1a1a1a;  text-decoration:none; background:#ffffff }
.sf-menu li a.current{ color:#fff; text-decoration:none; background:url(../images/bg_menu.gif)}

.sf-menu ul { position:absolute; top:-999em; width:10em; line-height:1.0; }
sf-menu li:hover ul, .sf-menu li.sfHover ul { left:0; top:72px; z-index:99;}

/*** DEMO SKIN ***/
.sf-menu ul {	width:145px; background:url(../images/bg_menu.gif); padding:10px 0px 10px 0px }
.sf-menu ul li {  text-align:left; line-height:25px; padding:0;  z-index:9; position:relative; float:left		}
.sf-menu ul li a {text-transform:none; line-height:25px; text-align: center; width:145px; font-size:12px; text-transform:none;  color:#fff; text-transform:uppercase; z-index:9;background:url(../images/bg_menu.gif) }
.sf-menu ul li a:hover { color:#171717; background:#e7e7e7}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {	outline:0;}
				
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top:-999em;}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { left:116px; /* match ul width */ top:0; margin-left:1px;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left:10em; /* match ul width */ top:0;}

aside{ height:452px; background:url(../images/bg_aside.gif) top left repeat-x}
aside .inside{ padding:0px 0px 0px 0px}
/*content*/
section{ font-size:0.875em; width:100%; text-align:left; background:url(../images/bg_cont.gif) top center no-repeat}
.bg_cont{ width:100%;  background:url(../images/bg_cont1.gif) top center repeat-x}
.bg_cont1{ width:100%;  background:url(../images/bg_cont2.gif) bottom center repeat-y #d9d9d9}
section .inside{padding:55px 0px 60px 20px}
.img-left{ float:left; margin:0 20px 33px 0}
.img-left1{ float:left; margin:0 15px 0px 0}
.img-left2{ float:left; margin:0 20px 0 0}
.img-indent{ margin:0 0 16px 0}
p{ margin:0 0 25px 0}
.p{ margin:0}
.p1{ margin:0 0 25px 0}
.p2{ margin:0 20px 37px 0}
.p3{ margin:0 0 7px 0}
h2{color:#171717; font-size:34px; margin-bottom:27px; line-height:1em; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.h2{margin-bottom:41px;}
h4{color:#000000; text-transform:uppercase; font-size:13px; margin-bottom:1px;  }
h3{color:#000000; text-transform:uppercase; font-size:15px; text-transform: uppercase; font-weight:normal  }
.tail{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:11px; margin-bottom:51px}
.tail2{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:31px; margin-bottom:51px}
.tail1{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:17px; margin-bottom:17px}
.tail3{ background:url(../images/tail.gif) bottom repeat-x; padding-bottom:27px; margin-bottom:27px}
.txt{color:#000000; text-transform:uppercase; font-size:13px; margin-bottom:9px; }
.txt1{color:#000000; text-transform:uppercase; font-size:14px; margin-bottom:9px; }
.txt2{ font-size:34px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; float:left; color:#171717; font-weight:bold; padding-top:7px; line-height:1em}
.txt3{ letter-spacing:-1px}
.txt4{ text-transform:none; font-size:14px}
.txt5{ text-transform:none; font-size:14px; color:#000;}


.indent{padding:62px 0px 0px 0px}
.indent1{padding:0px 0px 0px 0px}
.indent2{padding:0px 0px 0px 61px}
.indent3{padding:0px 0px 0px 181px}
.indent4{padding:0px 0px 0px 27px}
.indent5{padding:22px 0px 0px 0px}
.pad{ padding-right:40px}

.box{ background:url(../images/bg_box.gif); width:100%; color:#6b6b6b}
.box h3{ color:#fff; text-transform:uppercase}
.box .indent-box{padding:36px 50px 42px 30px}


.btnPrev{ position:absolute; top:186px; left:182px; z-index:900}
.btnNext{ position:absolute; top:186px; left:806px; z-index:900}
/*footer*/
footer { color:#6b6b6b; font-size:0.75em; background:#fff}
footer .inside{ padding:105px 62px 40px 40px }
footer a {color:#6b6b6b; text-decoration:none}  
footer a:hover {  text-decoration:underline}
footer span{ color:#6b6b6b}

	
.indent-2{ position:relative; padding-left:20px; float:left}
.rowElem{ height:51px}
.rowElem1{ height:32px;}
.block-contact span{ float:right; margin-right:80px}
.input{
   	border:1px solid #e3e3e3; 
	background:#FFFFFF;
	width:200px; height:19px;
	font-size:1em;
	color:#989898;
	vertical-align:middle;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	float:left;
	padding-bottom:6px;
	margin-top:-1px
}input{
   	border:1px solid #e3e3e3; 
	background:#FFFFFF;
	width:260px; height:18px;
	font-size:1em;
	color:#6b6b6b;
	padding-left:10px;
	padding-right:8px;
	padding-top:6px;
	padding-bottom:6px;
}
textarea{
   	border:1px solid #e3e3e3; 
	background:#FFFFFF;
	width:559px; height:171px;
	font-size:1em;
	color:#6b6b6b;
	padding-left:10px;
	padding-right:8px;
	padding-top:6px;
	padding-bottom:6px;
	margin-bottom:11px;
	overflow:auto}
.line{
	height:6px;
	width:auto;
}

.news_list a p£û
float: left;
£ý
.news_list ul{
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;

}

